body {
}

.account-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div .client-control {
    background-color: var(--light-gray);
    line-height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.client-control .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.25rem;
    justify-content: space-evenly;
    list-style-type: none;
    cursor: pointer;
}
.client-control .links a:hover {
    color: var(--primary);
}

.account {

    width: 100%;
    min-height: 750px;
    
    border-top: 1px solid var(--primary);
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
   

}

.account-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
}

.information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    place-items: center;
    gap: 4rem;
    font-size: 20px;
    color: var(--black);
    background-color: #e8e8e8;
    padding: 20px;
    box-shadow: var(--light-gray) 0px 3px 10px;
    border-radius: 3px;
    width: 50%;
}


.account-details {
    text-align: left;
    width: 600px;

    display: flex;
    justify-content: center;
}

.renew-btn {
    margin-left: 20px;
    padding: 8px 13px;
}