body {
}


.register {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    gap: 2.25rem;
    border-radius: 20px;
    background: var(--light-gray);
    padding: 10px;
}

form a {
  text-decoration: underline;
  cursor: pointer;
}

form input {
  padding: 7px;
}

form input::placeholder {
  font-family: inherit;
}

form button {
  border: none;
}
