@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary: #4c39ef;
    --secondary: #fff;
    --bg-background: #fff;
    --success: #57c42c;
    --info: #edbb31;
    --danger: #cc4747;
    --black: #090909;
    --scrollbar-track: #161616;
    --scrollbar-thumb: #333232;
    --light-gray: #f5f3f3;
    --gray: #c7c7c7;
    --black-opac: rgb(40, 40, 40, 0.9);

    --pressed-danger: #a83d3d;
    --pressed-info: #e2b331;
    --pressed-success: #59b932;
  

}

* {

    padding: 0;
    margin: 0;

}

html {
    font-size: 15px;
    font-family: 'Ubuntu', 'Poppins', 'Roboto', 'Sans Serif Collection', Arial, 'Times New Roman';
    color: var(--primary);
    background-color: var(--bg-background);
    scroll-behavior: smooth;
}

body {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;

}


/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 2px;
}

footer {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    place-items: center;
    gap: 2.25rem;
    padding: 50px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 10px;
    margin-top: 300px;
}

footer .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5rem;
}

footer .portal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.45rem;

    
}

footer a {
    transition: all ease-in-out .20s;
}

footer a:hover {
    transform: translateY(-1px);
}

.trademarks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.75rem;
}

.trademarks a {
    color: var(--primary);
    font-weight: bold;

}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-items: center;
    align-items: center;
    justify-content: space-evenly;
    line-height: 90px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 10px;
}

header .brand {
    display: flex;
    align-items: center;
}


header img {
    width: 150px;
    height: 40px;
    display: flex;
    place-items: center;    
}

header .links-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.25rem;
}

header .links a{
    font-size: 19px;

}

header .links-btns a:hover {

    color: var(--primary);

}


a {
    text-decoration: none;
    color: var(--black);
}


header .btn {
    padding: 10px 18px;
    border-radius: 7px;
    
}

header .btn:hover {
    color: var(--primary);
    background-color: var(--secondary);
}

.btn {
    padding: 10px 12px;
    

    background: var(--primary);
    color: white;
    font-size: 17px;

    width: 130px;
    border-radius: 1999px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    margin-top: 10px;
    text-align: center;
}
button.btn {
    border: none;
}

.btn a {
   text-decoration: none;
   color: white;
}


.btn:hover {
    transform: scale(1.05);
}


.hover-underline {
    display: inline-block;
    position: relative;
}

.hover-underline::after {
    content: '';
    position: absolute;
    transform-origin: center;
    transition: transform .3s ease-out;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 27px;
    left: 0;
    background-color: var(--primary);
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.active {
    display: inline-block;
    position: relative;
    color: var(--primary);
}

.active a {
    color: var(--primary);
}

.active::after {
    content: '';
    position: absolute;
    transform-origin: center;
    transition: transform .3s ease-out;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 27px;
    left: 0;
    background-color: var(--primary);
}


.container {
    margin: 100px 0;
}

.container-200 {
    margin: 200px 0;
}

.container-300 {
    margin: 300px 0;
}

.container-400 {
    margin: 400px 0;
}

.container-500 {
    margin: 500px 0;
}

.container-600 {
    margin: 600px 0;
}

.container-700 {
    margin: 700px 0;
}

.container-800 {
    margin: 800px 0;
}

.container-900 {
    margin: 900px 0;
}

.container-1000 {
    margin: 1000px 0;
}

.input-fields {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 7px;
}

.toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-gray);
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    animation: slide-in 0.5s, fade-out 0.5s 4.5s forwards;
    min-width: 300px;
    max-width: 450px;
    word-wrap: break-word;
}

    .toast.error {
        background-color: var(--danger);
    }

    .toast.success {
        background-color: var(--success);
    }

    .toast.info {
        background-color: var(--info);
    }

    .toast .close-btn {
        background: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid var(--light-gray);
        padding: 0px 4px;
    }

    .toast.error .close-btn:hover {
        background-color: var(--pressed-danger);
    }

    .toast.success .close-btn:hover {
        background-color: var(--pressed-success);
    }

    .toast.info .close-btn:hover {
        background-color: var(--pressed-info);
    }

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.popover-container {
    position: relative;
    display: inline-block;
}


.popover-content {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light-gray);
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: none;
    z-index: 10;
    white-space: nowrap;
}
/* Optional arrow for the popover */
.popover-content::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.popover-btn {
    background-color: none;
    color: var(--black);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 18px;
    margin-left: 7px;

}

.popover-container.popover-active .popover-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    gap: 1.25rem;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    min-height: 550px;
    color: var(--black);
}
thead tr {
    font-size: 18px;
    font-weight: bold;
}
th, td {
    padding: 15px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}


.control-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    place-items: center;
    justify-content: space-evenly;
    padding: 5px 0;
    border-bottom: 1px solid var(--primary);
    background-color: var(--primary);
}

.control-menu a {
    
    border-radius: 7px;
    padding: 5px 10px;
    transition: all ease-in .15s;
    color: #fff;
}


.control-menu a:hover {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   background-color: var(--light-gray);
   color: var(--black);
}


.img_info {
    width: 16px;
    height: 16px;
    transition: all ease-in-out .25s;
}

.img_info:hover {
    transform: scale(1.05);
}