@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["TITLE"] = "Add Package";
}

<link rel="stylesheet" href="~/css/admin/addpackage.css" asp-append-version="true" />

<div class="admin-container">

    <div class="admin-control">

        <div class="links">
            <a class="client-link hover-underline" asp-controller="Administrator" asp-action="AddSeller">Καταχώρηση Πωλητή</a>
            <a class="client-link hover-underline active" asp-controller="Administrator" asp-action="AddProduct">Δημιουργία Προγράμματος</a>
            <a class="client-link hover-underline" asp-controller="Administrator" asp-action="AlternatePackage">Αλλαγή Χαρακτηριστικών Προγράμματος</a>
        </div>
    </div>

    <h2>Καταχώρηση Πακέτου</h2>
    <form asp-controller="Administrator" asp-action="AddPackageAction" method="post">

        <label for="name">
            Package Name*:
            <input type="text" name="name" id="name" placeholder="Όνομα Πακέτου" required/>
        </label>
        
        <label for="description">
            Package Description*:
            <textarea name="description" id="description" placeholder="Πληροφορίες Πακέτου" cols="50" rows="10"></textarea>
        </label>

        <label for="totalMinutes">
            Package Total Minutes*:
            <input type="number" name="totalMinutes" id="totalMinutes" placeholder="Λεπτά Ομιλίας Προς Όλους" min="0" max="100000"/>
        </label>

        <label for="totalMinutesAbroad">
            Package Total Minutes Abroad*:
            <input type="number" name="totalMinutesAbroad" id="totalMinutesAbroad" placeholder="Λεπτά Ομιλίας Προς Εξωτερικό" min="0" max="100000" />
        </label>

        <label for="sms">
            Package SMS*:
            <input type="number" name="sms" id="sms" placeholder="Μηνύματα SMS" min="0" max="100000"/>
        </label>

        <label for="mb">
            Package MB*:
            <input type="number" name="mb" id="mb" placeholder="Δεδομένα MB" min="0" max="10000000" />
        </label>

        <label for="cost">
            Package Cost*:
            <input type="text" name="cost" id="cost" placeholder="Κόστος Πακέτου" min="0" max="1000" />
        </label>

        <button type="submit" class="btn">Καταχώρηση</button>
    </form>

</div>

